/* src/components/ContentPage.css */

.content-page-container4 {
    display: flex;
    height: 100vh;
    font-family: sans-serif;
    color: whitesmoke;
}

.sidebar4 {
    width: 250px;
    background-color: #031324;
    color: #8ea8ed;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    font-family: sans-serif;
}

.sidebar4 h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.sidebar4 nav ul {
    list-style: none;
    padding: 0;
    color: #1c8d3c;
}

.sidebar4 nav ul li {
    margin-bottom: 10px;
}

.sidebar4 nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-family: sans-serif;

}

.sidebar4 nav ul li a:hover {
    text-decoration: underline;
}

.only-but4 {
    margin-top: 280px;
    padding: 10px;
    background-color: #8ea8ed;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
  font-family: sans-serif;
}

.content4 {
    flex-grow: 1;
    padding: 20px;
    background-color:#8eaebd;
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
}



.timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #031324;
    height: 350px;
    width:400px;
    border-radius: 10px;
    color: #fff;
}
.timer-container:hover{
    transform: scale(1.1);

}

.timer-display {
    font-size: 48px;
    color: #fff;
}

.timer-button {
    padding: 10px 20px;
    background-color: #8eaebd;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

.timer-button:hover {
    background-color: #8ea8ed;
    color: #fff;
}
