/* src/components/LoginPage.css */
.login-image {
    max-width: 30%;
    height: 400px;
    flex: 1;
    object-fit: cover;
    margin-right: 200px;
  }
  .login-image:hover{
    transform: scale(1.1);
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #222629;

    color: #86c232;
  }
  .navText {
    font-size: 24px;
    font-weight: bold;
    font-family: "Papyrus";
  }
  .navButtons {
    display: flex;
  }
  
.login-container {
    font-family:'Courier New', Courier, monospace;    
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px); /* Adjust height based on navbar size */
    background-color: #474B4F;
    margin-left:100px
  }
  
  .login-card {
    background-color: #222629;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    flex: 1;
    color: #86c232;
  }
  
  .login-card h2 {
    margin-bottom: 20px;
  }
  
  .login-card form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .login-card label {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 18px;
  }
  .login-card:hover{
    transform: scale(1.1);
  }
  
  .login-card input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .login-card button {
    margin-top: 10px;
    padding: 10px;
    background-color: #86c232;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;    

    
  }
  .login-card:hover{
    transform: scale(1.1);
  }
  .submitter {
    margin-top: 10px;
  }
  .supernova{
    height: 700px;
    overflow: hidden;
    background-color: #474B4F;
  }