.calendar-container {
    display: flex;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
  }
  
  .sidebar3 {
    width: 250px;
    background-color: black;
    color: #1c8d3c;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .sidebar3 h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .sidebar3 nav ul {
    list-style: none;
    padding: 0;
    color: #1c8d3c;
  }
  
  .sidebar3 nav ul li {
    margin-bottom: 10px;
  }
  
  .sidebar3 nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  .sidebar3 nav ul li a:hover {
    text-decoration: underline;
  }
  
  .only-but3 {
    margin-top: 300px;
    padding: 10px;
    background-color: #1c8d3c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .content3 {
    flex-grow: 1;
    padding: 20px;
    background-color: #222629;
  }
  