/* src/components/AiScheduler.css */

.ai-scheduler-container6 {
    display: flex;
    height: 100vh;
  }
  .titlet{
    color: #8ea8ed;
  }

  .sidebar6 {
    width: 250px;
    background-color: #031324;
    color: #8ea8ed;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    font-family: sans-serif;
}

  
  .sidebar6 nav ul {
    list-style: none;
    padding: 0;
    color: #fff;
  }
  
  .sidebar6 nav ul li {
    margin-bottom: 10px;
  }
  
  .sidebar6 nav ul li a,
  .sidebar6 nav ul li button {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  
  .sidebar6 .only-but6 {
    margin-top: 280px;
    padding: 10px;
    background-color: #8ea8ed;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .ai-scheduler-content6 {
    flex-grow: 1;
    padding: 20px;
    background-color:#8eaebd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .card6 {
    background-color: #031324;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
  }
  
  .card6 h2 {
    margin-bottom: 20px;
    color: white;
  }
  
  .prompt-input {
    display: flex;
    align-items: center;
  }
  
  .prompt-input input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .mic-button {
    background-color: #8ea8ed;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
    padding: 10px;
    cursor: pointer;
  }
  
  .mic-button img {
    width: 24px;
    height: 24px;
  }
  